*{
    padding: 0%;
    margin: 0%;
    background-color: rgb(4, 46, 90);
}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   flex-direction: column;
   gap: 5rem;

}